











.examples{
    padding-top: 94px;
    padding-bottom: 94px;
}
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
}



/* header styles */




/* main index styles */
/* hero */
    
/* benefits */



/* activity */




/* team */


/* clients */


/*main Portfolio styles*/
.portf {
    background-color: var(--accent-text-color)
}


.choice-all,
.choice-web,
.choice-applications,
.choice-design,
.choice-marketing {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    vertical-align: top;
    letter-spacing: 0.03;
    background-color: var(--color1);
    color: var(--title-text-color);
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    border: 1px solid var(--color1);


}

.choice-all {
    width: 73px;
    padding: 6px 25px;
}

.choice-web {
    width: 125px;
    padding: 6px 22px;
}

.choice-applications {
    width: 112px;
    padding: 6px 22px;
}

.choice-design {
    width: 112px;
    padding: 6px 22px;
}

.choice-marketing {
    width: 130px;
    padding: 6px 22px;
}



.choice-all,
.choice-web,
.choice-applications,
.choice-design,
.choice-marketing {
    transition-property: box-shadow, background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.choice-all:hover,
.choice-all:focus {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
    box-shadow: 10px 10px 4px 10px rgba(0, 0, 0, 0.25);
}

.choice-web:hover,
.choice-web:focus {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
    box-shadow: 10px 10px 4px 10px rgba(0, 0, 0, 0.25);
}

.choice-applications:hover,
.choice-applications:focus {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
    box-shadow: 10px 10px 14px 10px rgba(0, 0, 0, 0.25);
}

.choice-design:hover,
.choice-design:focus {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
    box-shadow: 10px 10px 14px 10px rgba(0, 0, 0, 0.25);
}

.choice-marketing:hover,
.choice-marketing:focus {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
    box-shadow: 10px 10px 14px 10px rgba(0, 0, 0, 0.25);
}

.card {
    display: block;
}

.picture {
    text-decoration: none;
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.picture:hover,
.picture:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}




.picture-title {

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.06em;


}

.picture-title-kind {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 2;

}

.second-wrap {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;

}

.buttons {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    justify-content: center;
    gap: 8px;
}


.pict {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.top-text-wrap {
    position: relative;
    overflow: hidden;
}

.top-text {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(33, 150, 243, 0.9);
    height: 100%;
    padding-top: 63px;
    padding-left: 24px;
    padding-right: 24px;
    transform: translateY(100%);
    transition-property: translateY(0);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.picture-box:hover .top-text {
    transform: translateY(0);
}

.picture:focus .top-text {
    transform: translateY(0);
}




/* footer styles */


/* modalka */ 

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 528px;
    min-height: 581px;
    background-color: #fff;
    transform: translate(-50%, -50%);
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transform: translate(-50%, -50%);
transition:  cubic-bezier(0.0, 0.0, 1.0, 1.0);
padding: 40px;
margin: 0;

}


.close-modal{
position: absolute;
top: 25px;
right: 52px;
display: flex;
justify-content: center;
background-color: transparent;
border: transparent;
padding: 0;
margin: 0;
}


.close-modal:hover .modal-icon{
    fill: var(--accent-color);
}

.close-modal:focus .modal-icon{
    fill: var(--accent-color)
}



.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}
 .backdrop.is-hidden .modal{
    min-height: 0;
    transform: translate(-50%, -50%);
}

/* form */

.modal{
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 63px;
    padding-left: 40px;
}

.modal-title{
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: rgba(33, 33, 33, 1);
margin-bottom: 12px;
}

.modal-input{
    width: 100%;
    height: 35px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.03em;
outline: none;
padding-left: 40px;
}


.modal-input::placeholder{
    color: var(--title-text-color);
    height: 40px;
 }

.modal-input:hover,.modal-input:focus{
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-icon{
    fill: var(--accent-color);
}

.modal-label{
    font-size: 12px;
    color: var(--primary-text-color);

}

.modal-text{
    width: 100%;
    font-size: 14px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.03em;
    height: 120px;
     resize: none; 
outline: none;
padding-top: 12px;
padding-left: 23px;


}

.modal-text:hover, .modal-text:focus{
    border-color: var(--accent-color);
}


.modal-text:focus{
    outline-color : var(--accent-color);
}

.modal-text::placeholder{
    font-size: 11px;
    color: rgba(117, 117, 117, 0.5);;
}

.modal-icon{
    position: absolute;
    left: 12px; 
    top: 50%;  
    transform: translateY(-50%);
    fill: #212121;
}

.modal-field{
       margin-bottom: 10px;
}

.input-wrap{
    position: relative;
}
/* .modal-check{ */
    /* visibility: hidden; */
/* } */

.check-text{
   font-weight: 400; 
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03;
   display: flex;
   align-items: center;
   margin-right: 7px;
   margin-bottom: 30px;
}
 
.check-icon{
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    margin-left: 10px;
    fill: none;
    background-image: url(../images/Vector.svg);
    background-position: center;
    background-size: contain;
    /* background-origin: border-box; */
    border-radius: 2px;
   
}
    .modal-check{
        /* -webkit-appearance: none; */
        /* -moz-appearance: none; */
        /* appearance: none; */
         position: absolute; 
         width: 1px;
         height: 1px;
         margin: -1px;
         border: 0;
         padding: 0;
         clip: rect(0 0 0 0);
         overflow: hidden;
        
    }

.modal-check:checked + .check-icon{
    background-image: url(../images/check.svg) ;
    fill: var(--accent-text-color);
    background-color: var(--accent-color);
}


  /* .modal-check:checked + .check-text::before{    */
    /* content: '';   */
    /* width: 16px;     */
    /* height: 15px; */
    /* display: block; */
    /* background-color: var(--accent-color);   */
    /* border: 1px solid transparent;    */
    /* background-image: url(./images/check.svg);  */
   /* background-repeat: no-repeat;    */
   /* background-position: center;    */
   /* background-size: content; */
 /* }   */

.footer-form-link{
    font-weight: 400; 
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03;
   color: var(--accent-color);
   margin-left: 2px;
  
}


/* .footer-link-text{ */
    /* color: var(--accent-color); */
    /* text-decoration: underline; */
/* } */


.button-send{
    
    display: block;
    width: 200px; 
    height: 50px;
    background: var(--accent-color);
    border: none;
    border-radius: 4px;
    color: var(--accent-text-color);
    margin-left: auto;
    margin-right: auto;
    font-weight: 700; */
    font-size: 16px; 
    line-height: 1.875; 
    letter-spacing: 0.03;
    cursor: pointer;

}








  


