
 footer {
      background-color: var(--accent-background-color);
    padding-top: 60px;
     padding-bottom: 60px;
      }
      

.footer-flax {
    display: flex;
    gap: 70px;
    
}

.logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0.03em;
    display: block;
    margin-bottom: 20px;

}



.footer-link {
    color: var(--accent-text-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover{color: var(--accent-color);}
&:focus{color: var(--accent-color);}
}

.footer-link-contact {
    color: var(--accent-text-color);
    opacity: 0.6;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover {color: var(--accent-color);}
&:focus {color: var(--accent-color);}
}
   


footer .logo-second {
    color: var(--accent-text-color);
}

.footer-adress>li {
    margin-bottom: 9px;
}

.footer-soc-list {
    display: flex;
    gap: 10px;

}

.footer-title {
    margin-top: 12px;
    color: var(--accent-text-color);
    font-style: bold;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}

.footer-item {
    width: 44px;
    height: 44px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover{ background-color: var(--accent-color); }
&:focus{ background-color: var(--accent-color); }


}

.footer-soc-icon {
    fill: #FFFFFF;
}


.footer-email-button {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    vertical-align: top;
    letter-spacing: 0.06;
    background-color: var(--accent-color);
    color: var(--accent-text-color);
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    border: none;
    width: 200px;
    height: 50px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.singl-user-emeil {
    background-color: var(--accent-background-color);
    width: 358px;
    height: 50px;
    outline: none;
    border-radius: 4%;
    border-color: rgba(255, 255, 255, 0.3);
    padding-left: 16px;
    color: var(--accent-text-color);
}

.footer-title-fourse {
    margin-top: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
    width: 210px;
    margin-bottom: 20px;

}

.footer-button-wrap {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;


}

.footer-form-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03;
    color: var(--accent-color);
    margin-left: 2px;

}


.button-send {

    display: block;
    width: 200px;
    height: 50px;
    background: var(--accent-color);
    border: none;
    border-radius: 4px;
    color: var(--accent-text-color);
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03;
    cursor: pointer;

}