.header {
    display: flex;
    align-items: center;
    background-color: var(--accent-text-color);
}

.main-header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC;

}


.logo {
    display: block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0.03em;
    padding-top: 19px;
    padding-bottom: 30px;
    margin-right: 93px;
}

.logo-first {
    color: var(--accent-color);

}

.logo-second {
    color: #000000;

}

.header-link {
    display: block;
    color: var(--title-text-color);
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover{color: var(--accent-color); }
    &:focus{color: var(--accent-color);}

}


.curent-port {
    display: block;
    color: var(--accent-color);
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
&::after{content: '';
    width: 78px;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    display: block;
    position: relative;
    top: 32px;
    right: 1px;
}
}

.curent-st{
    display: block;
        color: var(--accent-color);
        letter-spacing: 0.02em;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        &::after{content: '';
            width: 48px;
            height: 4px;
            background-color: var(--accent-color);
            border-radius: 2px;
            display: block;
            position: relative;
            top: 32px;
            right: 1px;}
}


.header-link-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover{ color: var(--accent-color); }
    &:focus{color: var(--accent-color); }
    &:hover .header-icon-first{fill: #2196F3;}
    &:focus .header-icon-first {fill: #2196F3;}
    &:hover .header-icon-second {fill: #2196F3; }
    &:focus .header-icon-second {fill: #2196F3;}
}

.site-nav {
    display: flex;
}

.site-navigation {
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    gap: 50px;
    padding: 0;

}

.header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}




.auth-nav {
    display: flex;
    margin-left: auto;
}

.auth-nav li {
    margin-right: 50px;

}

.auth-nav li:last-child {
    margin-right: 50px;
}

.header-icon-first {
    fill: #757575;
    margin-right: 10px;
    width: 16px;
    height: 12px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon-second {
    fill: #757575;
    margin-right: 10px;
    width: 10px;
    height: 16px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


