.team {
    background-color: var(--color1);
    padding-top: 94px;
    padding-bottom: 94px;
}

.title-name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    align-items: center;
    vertical-align: top;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.qualification {
    font-size: 16px;
    line-height: 1.2;
    align-items: center;
    vertical-align: top;
    letter-spacing: 0.03em;
}

.additional-wrap {
    background-color: var(--accent-text-color);
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-photo {
    display: flex;
    gap: 30px;
}

.photo-colleague {
    display: block;

}

.coleague {
    margin-right: 30px;
    text-align: center;
    border-radius: 4px;
    background-color: var(--accent-text-color);
    box-shadow: 0 4 4 0 rgba(0, 0, 0, 0.25)
}



.soc-list {
    display: flex;
    gap: 10px;
    justify-content: center;

}

.soc-item {
    width: 44px;
    height: 44px;

}

.soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover{background-color: var(--accent-color);}
    &:focus{background-color: var(--accent-color);}
    &:hover .soc-icon {fill: var(--accent-text-color);}
    &:focus .soc-icon{fill: var(--accent-text-color);}

}

.soc-icon {
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


